<h1>{{name}}'s Movies</h1>
<ul>
 {{#each movies}}
  <a class="movie-link" href="#">
    <li class="user-movies"><img class="user-movies" src="{{image}}"/><div class="movie-title">{{title}}</div></li>
  </a>
 {{/each}}
</ul>
