<body>
  <h1>Choose a User</h1>
  <div class="dropdown">
   <button class="dropbtn">Users</button>
   <div class="dropdown-content">
 {{#each users}}
    <a href="/users/{{id}}/movies" >{{name}}</a>
 {{/each}}
</div>
</div>
</body>
